[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
click = "*"
mimesis = "*"
python-dotenv = "*"

[dev-packages]
mimesis = "*"

[requires]
python_version = "3.7.1"
